<p>湖北千之鹤黑木耳食品有限公司是专业从事湖北特色产品--黑木耳野生菌种驯化、无农药高山种植技术及深加工研究的高科技股份制现代农业产业化生产经营企业。
</p><p>公司管理团队由项目科研开发（包括食用菌专家、种植专家、食品专家和中医药专家）、企业经营管理（包括工商管理专家、人力资源专家、财务专家、电子商务专家）精英组成，公司以百年公司雀巢公司为榜样，以神农架高山地区为原料基地，以"公司+基地+农户"为农业经营模式，开创全新的现代农业经营模式，目标是成为如同雀巢公司一样的国际一流食品企业。
</p><p>湖北千之鹤黑木耳食品有限公司按欧洲SGS食品质量标准，在我省具有国际知名度的原始森林--神农架，建立了高标准的黑木耳生产基地--神农架千之鹤高山菌业有限公司。并依托武汉市尚工智能食品科技开发有限责任公司，在充分研究中医传统治疗方法"清"和“双向调节技术”的基础上，创造性地研发天然植物组合，并成功地将传统的中药天然植物配方和中国传统药食同源食品黑木耳（被人们亲切称之为"人体清道夫"）相结合，研制出改善人体内环境、预防现代疾病--代谢综合症（MS）的黑木耳系列食品-黑木耳胶囊和黑木耳饮料。
</p>