<a name=".E9.BB.91.E6.9C.A8.E8.80.B3.E5.8D.B3.E6.BA.B6.E9.A5.AE.E5.93.81" id=".E9.BB.91.E6.9C.A8.E8.80.B3.E5.8D.B3.E6.BA.B6.E9.A5.AE.E5.93.81"></a><h3><span class="editsection">[<a href="/wiki/index.php?title=%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97&amp;action=edit&amp;section=1" title="编辑段落：黑木耳即溶饮品">编辑</a>]</span> <span class="mw-headline">黑木耳即溶饮品</span></h3>
<dl><dt>产品特色
</dt><dd>清血养心，通畅心血管
</dd></dl>
<dl><dt>服用方法
</dt><dd>每天1-3袋，每袋200毫升开水浸泡5-10分钟，可浸泡1-2次
</dd></dl>
<p><br />
</p>
<a name=".E9.BB.91.E6.9C.A8.E8.80.B3.E8.83.B6.E5.9B.8A" id=".E9.BB.91.E6.9C.A8.E8.80.B3.E8.83.B6.E5.9B.8A"></a><h3><span class="editsection">[<a href="/wiki/index.php?title=%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97&amp;action=edit&amp;section=2" title="编辑段落：黑木耳胶囊">编辑</a>]</span> <span class="mw-headline">黑木耳胶囊</span></h3>
<dl><dt>产品特色
</dt><dd>清肠养胃，通畅胃肠道
</dd></dl>
<dl><dt>服用方法
</dt><dd>每次6粒
</dd></dl>
