hr { border: none; height: 2em; }

#Attuc { background: #262626; color: #EEEEEE; font-family: "Gill Sans","Franklin Gothic Medium","Lucida Grande",Arial,Helvetica; font-size: 65.5%; line-height: 1.5em; padding: 5em 2em; }

h5 { font-size: 14px; border-bottom: 1px solid #4c4c4c; border-top: 1px solid #4c4c4c; color: #6a6969; text-transform: uppercase; letter-spacing: 3px; font-weight: 100; line-height: 21px; padding: 5px 0 5px 0; }
h5 span { color: #fff; font-size: 12px; line-height: 18px; }

hr.hl { margin: 0; padding: 0; border: none; height: 1px; background: #EEEEEE; }

h5.reflect_1 { color: #666666; border-bottom: 6px solid #444444; line-height: .2em; margin: 0; padding: 0 0 0 10px; font-size: 24px; }
h5.elegant { letter-spacing: -2px; font-family: Georgia, "Times New Roman", Times, serif; font-weight: 100; text-transform: none; text-shadow: #666666 0.2em 0.2em; font-size: 36px; color: #fff; }
h5.handwriting { font-style: italic; font-weight: bold; font-family: "Comic Sans MS"; letter-spacing: -1px; word-spacing: .25em; text-transform: none; font-size: 18px; }
h5.handwriting2 { font-style: italic; font-weight: 100; font-family: "Trebuchet MS", Garamond, Georgia; letter-spacing: -1px; word-spacing: .25em; text-transform: none; font-size: 18px; }
h5.handwriting3 { font-style: italic; font-weight: 100; font-family: "Comic Sans MS"; letter-spacing: 1px; word-spacing: .25em; text-transform: none; font-size: 18px; }
h5.hide { font-size: 24px; font-weight: 100; line-height: .4em; border-bottom: 7px solid #FFFF66; text-transform: none; }
h5.capital { font-size: 40px; text-transform: uppercase; letter-spacing: -5px; font-family: georgia; text-transform: none; margin-bottom: 30px; color: #fff; }
h5.capital span { text-transform: none; font-size: 30px; text-transform: lowercase; letter-spacing: -2px; font-family: georgia; margin-bottom: 30px; }

p.letters { line-height: .64em; letter-spacing: -2px; font-family: "Courier New", Courier, monospace; font-size: 26px; font-weight: 100; text-transform: uppercase; }
