<div id="main_keyboard" class="card">
  <ul class="main_keyboard">
    <li id="da_key_1">1<div></div></li>
    <li id="da_key_2">2<div></div></li>
    <li id="da_key_3">3<div></div></li>
    <li id="da_key_4">4<div></div></li>
    <li id="da_key_5">5<div></div></li>
    <li id="da_key_6">6<div></div></li>
    <li id="da_key_7">7<div></div></li>
    <li id="da_key_8">8<div></div></li>
    <li id="da_key_9">9<div></div></li>
    <li></li>
    <li id="da_key_0">0<div></div></li>
    <li></li>
  </ul>
</div>

<div id="osc_comment" class="card">
  <div class="comment_wrapper" style="width:80%;margin:0 auto;">
    <div id="greeting_header">
      <h1>您好，我是 端庄黑木耳系列产品 的产品经理，欢迎您给我们提产品的使用感受和建议！</h1>
    </div>
    <hr />
    <form action="" name="tf">
      <div class="form_label">标　 题：</div>
      <div class="form_control">
        <input type="text" size="45" value="" style="border: 1px solid rgb(128, 158, 186); color: rgb(102, 102, 102); width: 70%;" name="title"/> 请输入大于4个汉字
      </div>
      <div class="form_label">内　 容：</div>
      <div class="form_control"><textarea rows="4" id="fm_wm_content" name="fm_wm_content"></textarea></div>
      <div id="editorStatus"></div>
      <div class="form_control">
        <a href="javascript:fadd_title()" class="btn" title="按快捷键:Ctrl+Enter可发表" style="padding-right: 25px;"><span style="padding-left: 25px;">发 表</span></a>
      </div>
    </form>
    <hr />
  </div>
</div>
