<div class="system_message">
从您上次投票起，需要过24小时才能再次投票 :p
</div>
<table>
  <tr>
    <td><b class="stars star_1"><b></b></b></td>
    <td>{{star.1}}</td>
  </tr>
  <tr>
    <td><b class="stars star_2"><b></b></b></td>
    <td>{{star.2}}</td>
  </tr>
  <tr>
    <td><b class="stars star_3"><b></b></b></td>
    <td>{{star.3}}</td>
  </tr>
  <tr>
    <td><b class="stars star_4"><b></b></b></td>
    <td>{{star.4}}</td>
  </tr>
  <tr>
    <td><b class="stars star_5"><b></b></b></td>
    <td>{{star.5}}</td>
  </tr>
</table>
